@use "../util" as *;

.percent {
  margin-top: rem(24);

  .pgb {
    border: none;
    padding: rem(4) rem(17);
    cursor: pointer;
    border-radius: rem(5);
    font-size: rem(16);
    font-family: var(--font-body);
    font-weight: 700;
    color: var(--white);
    background-color: var(--very-dark-cyan);
    transition: all 0.25s ease;

    &:hover {
      background-color: var(--light-grayish-cyan);
      color: var(--very-dark-cyan);
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        background-color: var(--very-dark-cyan);
        color: var(--white);
      }
    }

    &.clicked {
      background-color: var(--strong-cyan);
      color: var(--very-dark-cyan);
    }
  }

  &__grid {
    margin-top: rem(10);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(15);

    &--inpu {
      min-width: rem(50);

      &::placeholder {
        text-align: center;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    @include breakpoint(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(large) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(xlarge) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__nop {
    display: flex;
    justify-content: space-between;
    margin-top: rem(24);
  }

  #percent__zero {
    color: hsl(0, 100%, 45%);
    display: none;

    &.dpr {
      display: unset;
    }
  }

  &__label {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url(./images/icon-person.svg);
      background-repeat: no-repeat;
      top: rem(3);
      left: rem(17);
      width: rem(15);
      height: rem(15);
    }

    &--inpu {
      margin-top: rem(10);
      width: 100%;

      &:disabled {
        cursor: not-allowed;
      }

      &.dpr {
        border: hsl(0, 100%, 45%) solid rem(2);
      }
    }
  }
}
